body {
    background-color: black;
}

.lnkbox {
    border-left: 1px dashed white;
	padding: 5px;
}

.linktxt {
    color: #ffffff;
	text-decoration: none;
	font-family: Trebuchet MS;
}

.linktxt:visited {
	color: #ffffff;
	text-decoration: none;
	font-family: Trebuchet MS;
}

#header {
    background: linear-gradient(black, dimgray, black);
    border-bottom: 1px dashed white;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 5px 5px 5px;
}
