nav {
    background: linear-gradient(#404040, #666666, #404040);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px;
}

.navlink {
    color: whitesmoke;
    text-decoration: none;
    font-family: Monaco, monospace;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#youarehere {
    background: linear-gradient(#666666, #404040);
    border-bottom: 0px solid red;
}

body {
    background-size: 100%;
    background-image: url(../resource/supernova.jpg);
}

#txtwrap {
    background: #808080;
    background: rgba(255, 255, 255, 0.5);
    margin:25px;
    padding: 10px;
}

#textbox {
    background: #f2f2f2;
    color: black;
    font-family: 'Ubuntu Mono', 'Monaco', monospace;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    margin-bottom: 10px;
}

.text {
    margin-top: 30px;
}

#legacy {
    border-top: 1px solid black;
}